<div class="container__home">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gamePrice="129,99"
    gameType="Digital">
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gamePrice="229,99"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Digital"
    gamePrice="339,99"
    gameType="PS4 | Digital"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Exclusive"
    gamePrice="229,99"
    gameType="PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Digital"
    gamePrice="129,99"
    gameType="Digital"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gamePrice="339,99"
    gameType="PS4"
  ></app-card>
</div>
